__pycache__/
._____temp/
.vscode/
logs/
.env
.ipynb_checkpoints/

models/
!models/download.sh

mongodb-7.0.20/

data/
!data/Owners_Manual.pdf
!data/eval/
!data/eval/*

experiments/
test.py
plot.py
*.txt
*.csv
*.json
*.jsonl

nohup.out